@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #675AFE ;
    flex-direction: column;
}
.titre{
    margin-top: 20px ;
    font-size: 28px;
    font-weight: 500;
    text-align: center;

}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    min-height: 30vh;
    justify-content: center;
    background: white;
    border-radius: 25px 25px ;
    padding: 10px 25px;
    box-shadow: 0 0 50px rgba(218, 238, 250, .62);

}
.container .card-title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 25px 0 ;
    border-bottom: 1px solid black;
}
.container .form {
    justify-content: start;
    display: flex;
    flex-direction: column;
    line-height: 2;

}
.container .form button {
    width: 30%;
    background: coral;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 25px;
}

.container .form button:hover{
    background: black ;
    color: coral;
    transition: .5s;
}

@keyframes rotation {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}


